
@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    font-size: 100%;
    background: linear-gradient(to left, rgba(12, 12, 12, 1), rgba(1, 63, 52, 1));
    gap: 20PX;
    transition: .5s;
}
.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.cabecalho-titulo{
   color: white;
   font-family:  "Special Gothic Expanded One", sans-serif;
}
.cabecalho-menu-item:hover{
    color: rgb(182, 226, 182);
     transition:  color 0.3s;
}

.cabecalho-menu-item{
    color: white;
}
.cabecalho-menu{
    display: flex;
    gap: 32px;
     font-family:  "Special Gothic Expanded One", sans-serif;
}
.trilho{
    width: 60px;
    height: 30px;
    background-color: rgb(71, 70, 70);
    border-radius: 15px;
    position: relative;
    cursor: pointer;
}
.trilho .indicador{
   width: 30px;
   height: 30px;
   border-radius: 50%;
   background-color: rgb(0, 0, 0);
   transform: scale(.9); 
   position: absolute;
   left: 0;
   transition: .5s;
}
.trilho.dark{
    background-color: lightgray;
}
.trilho.dark .indicador{
    left: 30px;
    background-color: white;
}

body.dark{
    background: linear-gradient(to left, rgb(107, 104, 104), rgb(227, 231, 228));
}
body.dark h1{
    color: black;
}
body.dark p{
    color: black;
}
body.dark a{
    color: black;
}

.Main{
    border-top: 0.4px solid white ;
    margin-bottom: 20px;
}

.Sessão-1{ 
     display: flex;
     flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.main-Sessão-1-conteudo-escrito{
    display: flex;
    flex-direction: column;
    gap:20px;
    max-width: 600px;
    margin-top: 40px;
}
.main-Sessão-1-conteudo-grafico{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    margin-top: 40px;
}
.main-titulo-sessão-1{
   font-family:"Special Gothic Expanded One", sans-serif;
   font-weight: 400;
   font-size: normal;
   color: white;
   margin: auto;
}
.main-paragrafo-sessão-1{
    font-family:"Special Gothic Expanded One", sans-serif;
    color: white;
    margin: auto;
}
.main-imagem1-sessão-1{
    max-width: 600px;
    max-width: 400px;
    border-radius: 50%;
    margin-right: 60px;
}
.Roda-pé{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
    border-top: 0.4px solid white;
    margin-top: 300px;
}
.Roda-pé-titulo{
    margin: auto;
      font-family:"Special Gothic Expanded One", sans-serif;
      color: white;

}
.Roda-pé-menu-projetos{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.Roda-pé-menu-link{
    max-width: 40px;
    max-height: 40px;

}

